/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace layouts "org.ludo.layouts.*";
@namespace base "org.ludo.components.base.*";
@namespace mxml "org.ludo.components.mxml.*";
@namespace containers "org.ludo.containers.*";
@namespace navigators "org.linda.navigators.*";
@namespace views "org.ludo.views.*";
@namespace layouts1 "org.linda.layouts.*";
@namespace containers1 "org.linda.containers.*";
@namespace navigators1 "org.ludo.navigators.*";
@font-face {
	src: url("../fonts/MYRIAABI.TTF");
	fontFamily:italicBold;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/MYRIAAMI.TTF");
	fontFamily: italic;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/MYRIAASI.TTF");
	fontFamily: italic2;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/MYRIADAB.TTF");
	fontFamily: regularBold;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/MYRIADAM.TTF");
	fontFamily: regularLight;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/ptsans/PT_Sans_Caption_Bold.ttf");
	fontFamily: captionBold;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/ptsans/PT_Sans_Caption.ttf");
	fontFamily: caption;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
@font-face {
	src: url("../fonts/MyriadWebPro.ttf");
	fontFamily: regular;
    advancedAntiAliasing: true;
    embedAsCFF: false;
}
s|Application
{
	font-family: regular;
}
s|SkinnableContainer
{
	/*borderWeight:1;*/
}
s|TitleWindow
{
	skin-class:ClassReference("org.ludo.components.skins.CSparkTitleWindowSkin");
	headerColors:#8EC675,#8EC675;
	border-color:#8EC675;
	borderStyle: solid;
	titleStyleName: "sTitleWindow";
}
.sTitleWindow
{
	font-family:regularBold;
}
mx|Panel
{
	title-background-skin: ClassReference("mx.skins.halo.TitleBackground");
	drop-shadow-visible:false;
	padding-bottom: 1;
	titleStyleName: "mxPanelTitle";
}
.mxPanelTitle {
	fontFamily: regularBold;
}
mx|DataGrid
{
	header-style-name: "DataGridHeader";
}
.DataGridHeader
{
	font-family:regulatBold
}
mxml|CDataGrid
{
	header-style-name: "cDataGridHeader";
}
.cDataGridHeader
{
	font-family:regulatBold
}
views|AgentLoginBox
{
	border-alpha:1;
	header-colors: #6B9046, #6B9046;
	border-color:#6B9046;
	titleStyleName: "mxAgentLoginBoxTitle";
}
.mxAgentLoginBoxTitle
{
	font-family:regularBold;
	color:#ffffff;
}
s|Panel
{	
	drop-shadow-visible:false;
	padding-bottom: 1;
}
base|BaseInput:disabled 
{
	color:#666666;
}
mxml|CComboBox:disabled 
{
	color:#666666;
}
mxml|CTextArea:disabled 
{
	color:#666666;
}
mxml|CTextInput:disabled 
{
	color:#666666;
}

mxml|CDateField
{
	disabledColor:#666666;
}
mxml|CDropDownList:disabled 
{
	color:#666666;
}
mxml|CRadioList:disabled 
{
	color:#666666;
}
base|SparkPanelBox
{
	border-color:#6B9046;
	headerColors:#6B9046,#6B9046;
	titleStyleName: "sparkPanelBox";
	controlBarColors:#6B9046,#6B9046;
}
.sparkPanelBox
{
	font-family:captionBold;
	color:#ffffff;
}
views|SearchBox
{
	titleStyleName: "sparkSearchBox";
}
.sparkSearchBox
{
	font-family:captionBold;
	color:#ffffff;
}
layouts|PanelBox.searchBy
{
	borderAlpha: 1;
	headerHeight: 19;
	headerColors:#8EC675,#8EC675;
	border-color:#8EC675;
	borderStyle: solid;
}
layouts|PanelBox.orderBy
{
	borderAlpha: 1;
	headerHeight: 19;
	headerColors:#8EC675,#8EC675;
	border-color:#8EC675;
	borderStyle: solid;
}
s|HGroup.mainDetail
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
	border-style:solid;
}
s|HGroup.startDetail
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
	vertical-align:middle;
	border-style:solid;
}
containers|MainContainer
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
}
containers1|StartContainer
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
}
views|QuoteBox
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
}
containers|ActivityDetail
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
}
layouts|ApplicationHeader
{
	font-family: captionBold;
	/*
	background-color: #64741E;
	content-background-color: #64741E;
	background-color: #D4ECC8;
	content-background-color: #D4ECC8;
	font-weight: normal;
	*/
	dividerColor:#6B9046;
	font-size: 10;
	color: #6B9046;
}
layouts1|StartHeader
{
	font-family: captionBold;
	/*
	background-color: #64741E;
	content-background-color: #64741E;
	background-color: #D4ECC8;
	content-background-color: #D4ECC8;
	font-weight: normal;
	*/
	dividerColor:#6B9046;
	font-size: 10;
	color: #6B9046;
}
s|Label.headerDesc
{
	font-size: 13;
	font-family: regularBold;
	vertical-align:middle;
	horizontal-align:center;
}
layouts|ActionBar
{
	vertical-gap: 0;
	vertical-align:middle;
	horizontal-align:center;
	drop-shadow-visible: false;
	border-alpha: 0.58;
	corner-radius: 0;
	padding-left: 2;
	padding-bottom: 2;
	padding-right: 2;
	padding-top: 2;
}
mx|HBox.controlBox
{
	horizontal-align: right;
	vertical-align: middle;
}
s|Label.label
{
}
mx|Label.label
{
}
mx|Text.label
{
}
mxml|CDataGrid.searchGrid
{
	border-color:#8EC675;
	verticalGridLineColor: #8EC675;
	headerColors:#8EC675,#8EC675;
	header-style-name: "searchGridHeaderStyle";
}

.searchGridHeaderStyle 
{
	font-family:regularBold;
}
mx|Box.searchButtonBox
{
	padding-right: 1;
	padding-left: 1;
	padding-top: 1;
	padding-bottom: 1;
	vertical-gap: 1;
	horizontal-gap: 1;
}
mx|Box.searchButtonBox
{
	padding-right: 1;
	padding-left: 1;
	padding-top: 1;
	padding-bottom: 1;
	vertical-gap: 1;
	horizontal-gap: 1;
}
mx|Box.searchPanelBox
{
	padding-right: 1;
	padding-left: 1;
	padding-top: 1;
	padding-bottom: 1;
	vertical-gap: 1;
	horizontal-gap: 1;
}
mxml|DataViewGrid
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-style: none;
	header-style-name: "displayGridHeader";
}
.displayGridHeader
{
}
mxml|NestedGrid
{
	border-thickness: 0;
	border-style: none;
	border-color:#A9DA92;
	headerHeight: 19;
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
	headerColors:#A9DA92,#A9DA92;
	titleStyleName: "mxNestedGridTitle";
}
.mxNestedGridTitle
{
	fontFamily: italicBold;
}
mxml|CDataGrid.nestedDisplayGrid
{
	headerColors:#D4EDC9,#D4EDC9;
	border-color:#D4EDC9;
	verticalGridLineColor: #D4EDC9;
	border-style: none;
	text-align: left;
	header-style-name: "nestedDisplayGrid";
}
.nestedDisplayGrid
{
	horizontal-align:left;
}
containers|ActivityDetail
{
	border-style: none;
	/*font-weight: bold;*/
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}
s|Group.activtyDetail
{

}
mx|Label.activyLabels
{
}
layouts|ApplicationRight
{
	border-style: none;
	/*font-weight: bold;*/
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 1;
	border-thickness: 0;
}
/*
layouts|ButtonBox
{
	background-color: #D4EDC9;
	vertical-align:middle;
	horizontal-align:center;
}
*/
layouts|DataEntryVBox
{
	padding-right: 1;
	padding-left: 1;
	padding-top: 1;
	padding-bottom: 1;
}
layouts|SectionHeaders
{
	headerColors:#6B9046,#6B9046;
	border-color:#FF6600;
	titleStyleName: "sectionHeader";
}
.sectionHeader
{
	padding-left:5;
	padding-right:5;
	padding-ltop:2;
	padding-bottom:2;
	font-family:italicBold;
	color:#FFFFFF;
	font-size:12;
}
s|Label.pageHeader
{
	background-color:#6B9046;
	padding-right: 5;
	padding-left: 5;
	padding-top: 5;
	padding-bottom: 5;
	color:#FFFFFF;
	font-family:captionBold;
	font-size:14;
}
layouts|TipBox.pageTipBox
{
	border-color:#6B9046;
	padding-bottom: 5;
	padding-top: 5;
	padding-left: 1;
	padding-right: 1;
	background-color: #F4B525;
	content-background-color:#F4B525;
	color:#282E6C;
	vertical-align:middle;
}
layouts|TipBox.panelTipBox
{
	padding-bottom: 3;
	padding-top: 3;
	padding-left: 1;
	padding-right: 1;
	background-color: #64741E;
	content-background-color:#64741E;
	color:#ffffff;
}
layouts|PageMsgBox
{
	padding-bottom: 2;
	padding-top: 2;
	padding-left: 2;
	padding-right: 2;
	vertical-align:middle;
	font-family:italicBold;
	border-color:#6B9046;
}
layouts|PageMsgBox.validation
{
	/*background-color:#ff0000;
	content-background-color:#ff0000;*/
	color:#ff0000;
}
layouts|PageMsgBox.nochange
{
	color:#0066ff;
}
layouts|PageMsgBox.success
{
	color:#006600;
}
s|Label.sectionHeaders
{
	border-style: none;
	font-size: 13;
	padding-bottom: 1;
	padding-top: 1;
	padding-left: 1;
	padding-right: 1;
/*	border-thickness: 0;*/
	background-color: #CDEA68;
}
mx|Text.displayText
{
}
layouts|PanelBox.agentInfo
{
	borderAlpha: 1;
	headerHeight: 19;
	borderStyle: solid;
	header-colors:#8EC675,#8EC675;
	border-color:#8EC675;
	titleStyleName: "agentInfoTitle";
}
.agentInfo 
{
	font-family:regularBold;
}
layouts|PanelBox.pageBlock
{
	borderAlpha: 1;
	headerHeight: 19;
	borderStyle: solid;
	header-colors:#8EC675,#8EC675;
	border-color:#8EC675;
	titleStyleName: "pageBlockTitle";
}
.pageBlockTitle 
{
	font-family:regularBold;
}
layouts|PanelBox.unitBlock
{
	borderStyle: none;
	borderAlpha: 1;
	headerHeight: 19;
	header-colors:#C9E8BB,#C9E8BB;
	titleStyleName: "unitBlockTitle";
}
.unitBlockTitle 
{
	font-family:regularBold;
}
mxml|CDataGrid.unitGrid
{
	header-style-name: "unitGridHeader";
}
.unitGridHeader
{
	font-family:regularBold;
}
mx|Label.emptymessage
{
	font-weight: bold;
}
/*
navigators|TopLinkBar
{
	border-thickness: 0;
	text-align: right;
}
*/
/*
------------------------------------------------------------------------
ALERT
------------------------------------------------------------------------
*/
mx|Alert
{
/*	background-size: 			"100%";*/
	padding-left: 				0;
	padding-bottom: 			14;
	padding-right: 				0;
	padding-top: 				0;
	header-height: 				25;
	borderStyle: 				solid;
/*	border-thickness-top:		0;
	border-thickness-bottom:	0;
	border-thickness-left:		0;
	border-thickness-right:		0;*/
	message-style-name: 		"alertText";
	button-style-name: 			"alertButton";
	title-style-name:			"alertTitle";
	background-color: #FFFFFF;
	headerColors:#64741E,#64741E;
/*	border-thickness: 1;*/
}

.alertButton
{
	font-weight:			normal;
	padding-left: 			6;
	padding-right: 			6;
	text-roll-over-color: 	#333333;
	text-selected-color: #000000;
}
.alertText
{
	background-size: "100%";
	font-weight: normal;
}
.alertTitle
{
	font-family:captionBold;
	padding-left: 3;
	color:#FFFFFF;
}
layouts|VLayout.linkBarNavigator
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
	border-color:#6B9046;
	background-color: #62A025;
	border-thickness: 1;
}
mx|LinkBar.linkBar
{
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	vertical-gap: 0;
	horizontal-gap: 0;
	border-color:#6B9046;
	background-color: #62A025;
}
s|Label.linkBarNavigatorTitle
{
	font-family:captionBold;
	font-size:14;
	background-color:#6B9046;
	padding-right: 5;
	padding-left: 5;
	padding-top: 5;
	padding-bottom: 5;
	color:#FFFFFF;
}
s|Label.linkBarNavigatorTrans
{
	font-family:italicBold;
	font-size:13;
	/*
	background-color:#62A025;
	*/
	background-color:#8EC675;
	padding-right: 5;
	padding-left: 5;
	padding-top: 5;
	padding-bottom: 5;
	color:#000000;
}
s|ButtonBar.actionBar
{
	buttonStyleName: "actionBarButtonStyle";
}

.actionBarButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #6B9046, #6B9046, #6B9046, #6B9046;
	color: #ffffff;
	textRollOverColor: #ffffff;
}